<html>
<head>

    <meta charset="utf-8">
    <title>Intent Classification</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='custom.css') }}">

</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="pull-left"><img src="{{url_for('static', filename='logo.png')}}" style="width:50px;height:50px;"></a> 
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Main</a></li>
                <li><a href="/new">New Intent</a></li>
                <li><a href="/update">Update Intent</a></li>
                <li><a href="/execute">Execute</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="/action_page.php">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <form action="{{ url_for('update_submit') }}" method="post">
                    <h2>Update Intent</h2>
                    <h1></h1>
                    <div class="form-group border-style">
                        <label for="intentname" class="required">Intent Name</label>
                        <input type="text" class="form-control" id="intentname" name="intentname" required>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="required">Key Words</label>
                        <textarea class="form-control" rows="5" id="keywords" name="keywords" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <h1></h1>
                </form>
            </div>
        </div>
    </div>


</body>

</html>